body {
    font-family: Arial, Helvetica, sans-serif;
}
#tooltip {
    opacity: 0;
    position: absolute;
    padding: 1rem;
    background: #000;
    color: #fff;
    border-radius: 6px;
    box-shadow: 0.3rem 0.3rem 1rem #777;
    top: 0;
    left: 0;
    transition: 100ms;
}
ul {
    padding: 0;
}
.item {
    list-style: none;
    margin: 0;
    padding: 0;
}
.row {
    border: 1px solid transparent;
    transition: border 0.4s;
}
.item:hover > .row {
    border: 1px solid #333;
}
.item:hover:not(.item.header) > .row > * {
    font-weight: bold;
}
.fix:hover > .row {
    border: 1px solid transparent;
}
#container > .item:nth-child(1) {
    /* margin-top: 3rem; */
}
.item > .row {
    padding: 1rem;
    margin: 0.5rem;
    background: #eee7;
    border-radius: 6px;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    text-align: center;
}
.item > .row > * {
    flex: 1 1;
}
.item > .history {
    margin: -0.5rem;
    height: 0px;
    background: #bbb;
    box-shadow: inset 0.5rem 0.5rem 2rem #7777, inset -0.5rem -0.5rem 2rem #7777;
    overflow: scroll;
    transition: height 0.4s;
}
.item > .history.show {
    height: 50vh;
}
.item > .history .row {
    border: 1px solid #fff;
}
.red {
    color: red;
}
.fix,
.header {
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    margin: -0.5rem 0 0;
    top: 0;
    left: 0;
    position: sticky;
    background: #fffa;
    box-shadow: inset 0 0.5rem 0.5rem #000;
}

.history .header {
    background: #000a;
    color: #fff;
}
.history .header > .row {
    margin: 0;
    border: none;
    border-radius: 0;
}
.history {
    position: relative;
}
span.up {
    color: green;
}
span.down {
    color: red;
}
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}
.title {
    text-align: center;
    background: #fff;
    padding: 1rem;
    box-shadow: 6px -6px 1rem #7777;
    color: #555;
    font-size: 0.9rem;
    border-radius: 6px;
    font-weight: lighter;
}
